services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: coordination_post_app_development
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  web:
    build: .
    volumes:
      - .:/rails
      - node_modules:/rails/node_modules
    environment:
      RAILS_ENV: development
      DATABASE_HOST: db
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres

    # 追加：.bundle/config をプロジェクト側に作らせる
      BUNDLE_APP_CONFIG: /rails/.bundle
    depends_on:
      - db
    ports:
      - "3000:3000"
    command: bash -lc "rm -f tmp/pids/server.pid && bundle exec rails server -b 0.0.0.0 -p 3000"

volumes:
  pgdata:
  bundle:
  node_modules:
