<div class="top">
  <div class="top__inner">

    <h1 class="service-name">maeFUKU</h1>

    <h1 class="top__title">
      会う前の服で、気持ちを整える。
    </h1>

    <p class="top__description">
      招待URLでイベント参加者だけのページを作成し、<br>
      当日の服装や雰囲気を事前に共有できます。<br>
      maeFUKU は、自己表現のためのSNSではなく<br>
      コーディネートを通じて準備や相談をするための場所です。
    </p>

    <div class="top__actions">
      <%= link_to "ログイン", login_path, class: "btn btn--login" %>
      <%= link_to "新規登録", new_user_path, class: "btn btn--signup" %>
    </div>
  </div>
</div>
